/* Style du site Front end Fisheye */
/* Reset CSS */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* dm-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/dm-sans-v14-latin-300.woff2") format("woff2");
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/dm-sans-v14-latin-regular.woff2") format("woff2");
}
/* dm-sans-700 (bold) - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/dm-sans-v14-latin-700.woff2") format("woff2");
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  margin: 0 auto 100px auto;
  padding: 0 100px;
}

.error-message {
  font-weight: 700;
  color: #D3573C;
  font-size: 1.125em;
}

.content {
  position: relative;
}

.blur {
  filter: blur(5px);
}

.contact_button, .contact__msg--btn, .contact__form--submit {
  font-size: 1.25em;
  color: #ffffff;
  padding: 11px;
  margin: 0 20px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
  white-space: nowrap;
}
.contact_button:hover, .contact__msg--btn:hover, .contact__form--submit:hover, .contact_button:focus, .contact__msg--btn:focus, .contact__form--submit:focus {
  filter: brightness(1.3);
  border: none;
}
.contact_button:focus-visible, .contact__msg--btn:focus-visible, .contact__form--submit:focus-visible {
  outline: none;
}

.btn__like {
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  position: relative;
  overflow: hidden;
  background-color: inherit;
}
.btn__like span {
  margin-left: -100px;
}
.btn__like::after, .btn__like::before {
  content: "";
  width: 20px;
  height: 20px;
  margin: 3px 0 0 3px;
  display: block;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.btn__like::after {
  background-image: url("../assets/images/icons/heart-solid.svg");
  opacity: 0;
}
.btn__like::before {
  background-image: url("../assets/images/icons/heart-regular.svg");
  opacity: 1;
}
.btn__like:hover::after {
  opacity: 0.7;
  cursor: pointer;
}
.btn__like:hover::before {
  opacity: 0;
}
.btn__like:active::after {
  transform: scale(1.2);
  opacity: 1;
}
.btn__like--on::after {
  background-image: url("../assets/images/icons/heart-solid.svg");
  opacity: 1;
}

#lightbox-modal, #contact-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  transition: all 0.2s ease-in-out;
  animation: openModalLightbox 0.2s ease-in-out forwards;
}

@keyframes openModalLightbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lightbox {
  min-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.lightbox__figure {
  overflow: hidden;
  width: 1050px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lightbox__figure--picture {
  max-width: 1050px;
  max-height: 75vh;
  border-radius: 5px;
  z-index: 100;
}
.lightbox__figure--legend {
  font-size: 1.5em;
  font-weight: 400;
  color: #901C1C;
  line-height: 120%;
  margin-top: 15px;
}
.lightbox__btn, .contact__header--btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: inherit;
}
.lightbox__btn .svg, .contact__header--btn .svg {
  width: 50px;
  height: 50px;
  color: #901C1C;
}
.lightbox__btn .svg:hover, .contact__header--btn .svg:hover {
  color: #D3573C;
}
.lightbox__btn--close {
  position: absolute;
  top: 0;
  right: 100px;
}
.lightbox__btn--close:hover {
  cursor: pointer;
}
.lightbox__btn--back {
  transition: all 100ms;
}
.lightbox__btn--back:hover {
  cursor: pointer;
}
.lightbox__btn--back:active {
  transform: translateX(-10px);
}
.lightbox__btn--next {
  transition: all 100ms;
}
.lightbox__btn--next:hover {
  cursor: pointer;
  color: #D3573C;
}
.lightbox__btn--next:active {
  transform: translateX(10px);
}

.img-loader {
  position: absolute;
  margin-bottom: 150px;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  text-indent: -9999em;
  border-top: 0.8em solid rgba(0, 0, 0, 0.1);
  border-right: 0.8em solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.8em solid rgba(0, 0, 0, 0.1);
  border-left: 0.8em solid #D3573C;
  transform: translateZ(0);
  animation: circle 800ms infinite linear;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contact {
  width: 670px;
  background-color: #DB8876;
  border-radius: 5px;
  margin: 0 auto;
  padding: 35px;
  box-shadow: -5px 10px 30px 0 rgba(0, 0, 0, 0.25);
}
.contact__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.contact__header--title {
  font-size: 4em;
  font-weight: 400;
  color: #000000;
  line-height: 110%;
}
.contact__header--btn {
  width: 50px;
  height: 70px;
}
.contact__header--btn .svg {
  color: #ffffff;
  width: 70px;
  height: 70px;
}
.contact__header--btn .svg:hover {
  color: #901C1C;
  cursor: pointer;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form--label, .contact__form--input {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25em;
  font-weight: 300;
  color: #312E2E;
  margin-bottom: 2px;
}
.contact__form--data {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}
.contact__form--input {
  color: #000000;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.contact__form--input:focus-visible {
  outline: 3px solid #901C1C;
}
.contact__form--hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.contact__form--error {
  color: #901C1C;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 1em;
  display: none;
}
.contact__form--submit {
  margin: 20px 0 0 0;
}
.contact__msg--title {
  font-size: 2em;
  line-height: 130%;
}
.contact__msg--btn {
  margin: 40px 0 0 0;
}

.sort-menu {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  margin: 15px 0 35px 0;
}
.sort-menu label {
  font-size: 1.125em;
  font-weight: 700;
}
.sort-menu--selected {
  width: 170px;
  height: 60px;
  padding: 0 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125em;
  background-color: #901C1C;
  border: 1px solid #901C1C;
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.sort-menu--selected::after {
  content: "";
  background-image: url("../assets/images/icons/chevron-down-solid.svg");
  width: 1em;
  height: 1em;
}
.sort-menu svg {
  color: #ffffff;
  width: 1em;
  height: 1em;
}
.sort-menu--items {
  border: 1px solid #901C1C;
  border-radius: 5px;
  background-color: #901C1C;
  display: none;
  width: 170px;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 100;
}
.sort-menu--items li {
  width: 100%;
  height: 60px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125em;
  padding: 0 20px;
  background-color: #901C1C;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.sort-menu--items li::before {
  content: "";
  border-bottom: 1px solid #ffffff;
  width: 150px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.sort-menu--items li:last-child::before {
  content: none;
}
.sort-menu--items li:hover, .sort-menu--items li:focus {
  cursor: pointer;
  filter: brightness(1.2);
}
.sort-menu--items li:focus-visible {
  outline: none;
}
.sort-menu--items li.chevron::after {
  content: "";
  background-image: url("../assets/images/icons/chevron-up-solid.svg");
  width: 1em;
  height: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
.header .logo {
  height: 50px;
}
.header h1 {
  color: #901C1C;
  font-size: 2.25em;
}

.photographers {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 70px 5%;
  margin-top: 70px;
}

.photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: max-content;
}
.photographer__identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.photographer__identity:focus-visible {
  outline: none;
}
.photographer__identity--picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
}
a:hover .photographer__identity--picture, a:focus .photographer__identity--picture {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.8);
  filter: brightness(1.08);
}
.photographer__identity--name {
  font-size: 2.25em;
  line-height: 1.5em;
  color: #D3573C;
}
a:hover .photographer__identity--name, a:focus .photographer__identity--name {
  color: #000000;
}
.photographer__location {
  font-size: 1em;
  line-height: 1.5em;
  color: #901C1C;
}
.photographer__tagline {
  font-size: 0.8125em;
  line-height: 1.5em;
  color: #000000;
}
.photographer__price {
  font-size: 0.8125em;
  line-height: 1.5em;
  color: #757575;
}

#contact_modal {
  display: none;
}

.photographer-header {
  background-color: #FAFAFA;
  width: 100%;
  border-radius: 5px;
  padding: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer-header__info {
  width: 100%;
}
.photographer-header__info--name {
  font-size: 4em;
  color: #D3573C;
  margin-bottom: 15px;
}
.photographer-header__info--location {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #901C1C;
  margin-bottom: 15px;
}
.photographer-header__info--tagline {
  font-size: 1.125em;
  line-height: 1.5em;
  color: #525252;
}
.photographer-header picture {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.photographer-header__picture {
  width: 200px;
  border-radius: 50%;
}

.section-media-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 95px;
  transition: all 1s;
}

.media-card {
  width: 350px;
}
.media-card__link {
  width: 350px;
  height: 300px;
  display: flex;
  border-radius: 5px;
}
.media-card__link:hover, .media-card__link:focus {
  filter: brightness(1.2);
  cursor: pointer;
}
.media-card__link:focus-visible {
  outline: none;
}
.media-card__media {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.media-card__legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.media-card__legend--title {
  font-size: 1.5em;
  color: #901C1C;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 120%;
}
.media-card__legend--like {
  font-size: 1.5em;
  color: #901C1C;
  line-height: 120%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.media-card__legend--like .btn__like {
  margin: 0 2px 0 5px;
}

.sticky-card {
  padding: 22px 27px;
  background-color: #DB8876;
  width: 375px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: -100px;
  right: 35px;
  transition: bottom 0.5s ease-in-out;
  animation: slideSticky 0.5s ease-in-out forwards;
}
.sticky-card__like {
  display: flex;
  align-items: center;
}
.sticky-card__like--number {
  margin-right: 10px;
}
.sticky-card__like--svg {
  color: #000000;
  width: 0.8em;
  height: 0.8em;
}

@keyframes slideSticky {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}