#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    width: 100%;
    border-radius: 5px;
    padding: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info{
        width: 35%;

        &--name{
            font-size: em(64);
            color: $secondary;
        }
        &--location {
            font-size: em(24);
            line-height: 1.5em;
            color: $primary;
        }
        &--tagline {
            font-size: em(18);
            line-height: 1.5em;
            color: $grey
        }
    }

    picture{
        width: 35%;
        display: flex;
        justify-content: flex-end;
    }

    &__picture{
        width: 200px;
        border-radius: 50%;
    }
    
}



.sticky-card{
    padding: 22px 27px;
    background-color: #DB8876;
    width: 375px;
    display: flex;
    justify-content: space-between;
    font-size: em(24);
    border-radius: 5px 5px 0 0;
    position: absolute;
    bottom: 0;
    right: 35px;
}