.contact_button {
    font-size: em(20);
    font-weight: 700;
    color: $white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $primary;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;

    &:hover, &:focus {
        filter: brightness(1.3);
        border: none;
    }

    &:focus-visible{
        outline: none;
    }
}