/* dm-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/dm-sans-v14-latin-regular.woff2') format('woff2'); 
}

/* dm-sans-700 (bold) - latin */
@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/dm-sans-v14-latin-700.woff2') format('woff2'); 
}
