// header

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 1440px;
    padding: 0 100px;
    margin: 0 auto;

    a:focus-visible{
        //outline: none;
    }

    // @include tablet{
    //     min-width: 1200px;
    //     padding: 0 60px;
    // }

    .logo {
        height: 50px;
    }

    h1 {
        color: #901C1C;
        font-size: em(36);
    }


}



